{% extends 'base.html' %}

{% block nav %}
{#    {% if perms.webapp.add_task %}#}
{#    <li class="nav-item">#}
{#        <a class="nav-link active" aria-current="page" href="{% url 'webapp:task_add' project.pk %}">Create task</a>#}
{#    </li>#}
{#    {% endif %}#}
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                <span><p>{{ topic.name }}</p> | <p>{{ topic.created_at|date:"d.m.Y" }}</p> | <p>{{ topic.author }}</p></span>
                <p>{{ topic.detail }}</p>
            </div>
        </div>

{#        <div class="text-center mt-4 border-bottom border-warning border-3 mb-4">#}
{#            <h1>Tasks</h1>#}
{#        </div>#}
{##}
{#        <div class="row mt-3">#}
{#            {% for task in project.project_tasks.all %}#}
{#                <div class="col-12 col-md-4 col-lg-3 mb-3">#}
{#                    <div class="card" style="width: 18rem;">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ task.description }}</h5>#}
{#                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.status.name }}</h6>#}
{#                            <p class="card-text">{{ task.created_at }}</p>#}
{#                            {% if perms.webapp.view_task %}#}
{#                                <a href="{% url 'webapp:task_detail' task.pk %}"#}
{#                                   class="btn btn-outline-primary">Detail</a>#}
{#                            {% endif %}#}
{#                            {% if perms.webapp.change_task %}#}
{#                                <a href="{% url 'webapp:task_update' task.pk %}"#}
{#                                   class="btn btn-outline-success">Update</a>#}
{#                            {% endif %}#}
{#                            {% if perms.webapp.delete_task %}#}
{#                                <a href="{% url 'webapp:task_delete' task.pk %}"#}
{#                                   class="btn btn-outline-danger">Delete</a>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#            {% empty %}#}
                <div class="text-center">
                    <p>No comments</p>
                </div>
{#            {% endfor %}#}
        </div>
    </div>
{% endblock %}