{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:topic_add' %}">Create
            topic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:topic_update' topic.pk %}">Update
            topic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:topic_delete' topic.pk %}">Delete
            topic</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                <span>{{ topic.name }}{{ topic.created_at|date:"d.m.Y" }}{{ topic.author }}</span>
                <p>{{ topic.description }}</p>
            </div>
        </div>

        <h3>Комментарии:</h3>
        <div class="mb-4">
            {% for comment in comments %}
                <div class="border p-2 mb-2">
                    <p>{{ comment.author.username }} |
                        <span>{{ comment.created_at|date:"d.m.Y H:i" }}</span></p>
                    <p>{{ comment.content }}</p>
                    {% if user == comment.author %}
                        <div>
                            <a href="{% url 'webapp:comment_update' comment.pk %}">Редактировать</a>
                            <a href="#">Удалить</a>
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <p>Комментариев пока нет.</p>
            {% endfor %}
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <form action="{% url 'webapp:comment_create' topic.pk %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="Отправить" class="btn btn-success">
        </form>
    {% endif %}
{% endblock %}