{% extends 'base.html' %}

{% block content %}
    <div class="card" style="width: 18rem;">
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5>Username - {{ profile.username }}</h5>
            <p>Email - {{ profile.email }}</p>
            <p>Comments - {{ profile.comments_count }}</p>
        </div>
    </div>

    <h3 class="mt-4">Темы пользователя</h3>
    {% for topic in topics %}
        <div class="col-12 mb-3">
            <a class="text-decoration-none fw-bold" href="{% url 'webapp:topic_detail' pk=topic.pk %}">
                <div class="card w-100">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            {{ topic.name }}
                        </div>
                        <div class="text-nowrap mx-3">
                            {{ topic.created_at|date:"d.m.Y" }}
                        </div>
                        <div class="text-nowrap mx-3">
                            {{ topic.author }}
                        </div>
                        <div class="text-end text-nowrap">
                            ответов {{ topic.comments }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% empty %}
        <div class="text-center mt-5">
            <p>Тем нету</p>
        </div>
    {% endfor %}
{% endblock %}